

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Acerca de este Proyecto</h1>
            <p>
                Esta página es un proyecto personal especialmente diseñado para ser parte de mi portafolio profesional. 
                <strong>En el momento de crear esta página web, no sabía manejar bases de datos, por lo que no cuenta con la funcionalidad de guardar lo que publica la gente.</strong>
            </p>
            <p>
                Los objetivos de este proyecto son múltiples. Primero, busca reforzar mis conocimientos en tecnologías web como 
                EJS, CSS, JavaScript y Node.js con Express.js. Además, quiero demostrar un poco de lo que soy capaz de brindar 
                como desarrollador, ofreciendo una vista previa de mis habilidades y dedicación en el desarrollo web.
            </p>
            <p>
                A través de este blog, no solo quiero mostrar mi capacidad técnica, sino también mi compromiso con la mejora continua 
                y la pasión por el aprendizaje. Cada sección y característica de esta página ha sido creada con el objetivo de 
                ofrecer una experiencia de usuario intuitiva y atractiva.
            </p>
            <h2 class="mt-5">Contacto</h2>
            <p>
                Si deseas ponerte en contacto conmigo, puedes hacerlo a través de las siguientes plataformas:
            </p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/alejo_bonavia003/"><img src="images/icons8-instagram.svg" alt="Logo istagram"></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://wa.me/3385443705"><img src="images/icons8-whatsapp.svg" alt="icono wattsapp"></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.linkedin.com/in/alejo-bonavia-550539278/"><img src="images/icons8-linkedin.svg" alt="icono linkedin"></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://github.com/alejobonavia003"><img src="images/icons8-github.svg" alt="icono github"></a></li>
              </ul>
        </div>
    </div>
</div>