

   <!-- Main content -->
   <div class="container mt-4 bg-light">
    <h1 class="mb-4">Nueva Publicación</h1>
    <form action="/submit" method="POST">
        <div class="form-group">
            <label for="titulo1">Título</label>
            <input type="text" class="form-control" id="titulo1" name="titulo1" placeholder="Título de la publicación">
        </div>
        <div class="form-group">
            <label for="publishContent">Contenido</label>
            <textarea class="form-control" id="publishContent" name="publishContent" rows="10" placeholder="Escribe el contenido aquí"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publicar</button>
    </form>
</div>
<!-- Main content end 
